@value makerGreen from '../../common/colors.css';

.title {
  color: makerGreen;
}

.ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 1em;
}
