@value makerGreen,makerWhite from '../../common/colors.css';

.footer {
  background-color: makerGreen;
  color: makerWhite;
  display: flex;
  justify-content: center;
}

.title {
  padding: 1rem 0;
  margin: 0;
}
